<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019322820447-qbpcnjntil27ts0gr8ihb1e69q6bns1j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019322820447-qbpcnjntil27ts0gr8ihb1e69q6bns1j</string>
	<key>API_KEY</key>
	<string>AIzaSyASLGmdIcHNHkTHjnD13jVSCvoJQa89pDk</string>
	<key>GCM_SENDER_ID</key>
	<string>1019322820447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.perez.TableViewRealmSync</string>
	<key>PROJECT_ID</key>
	<string>contact-realm-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>contact-realm-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019322820447:ios:6c9ae9db2c241fcad3b8ea</string>
</dict>
</plist>